@model JobSeekersFinal.Models.Applicant[]

@{
    ViewBag.Title = "Edit Applicant Profile";
}

<html>

<head>
    <link href="~/Content/dashboard.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/jquery-latest.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="~/Scripts/JsUtils.js"></script>
    <title>JobSeekers - Dashboard</title>    
</head>

<body>
    @*Top Nav Bar*@
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header" color="red">
                <a class="navbar-brand" href="Dashboard?authType=2">JobSeekers</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="EmployerHelp">Help</a></li>
                    <li><a href="mailto:webmaster@jobseekers.com">Contact</a></li>
                    <li><a href="Index">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        Welcome to JobSeekers!
    </div>
    @*Applicant Table*@
    <div class="main">
        <div class="search">
        <form>
            <input type="text" id="filter-title" placeholder="Title...">
            <input type="text" id="filter-skill" placeholder="Skills...">
            <input type="button" value="Search" onclick="FilterDashboard($('#filter-title').val(), $('#filter-skill').val())">
        </form>
        </div>
        <h1 class="sub-header"></h1>
        <table id="myTable" class="tablesorter">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Title</th>
                    <th>City</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                @foreach (JobSeekersFinal.Models.Applicant app in Model)
                {
                    <tr id="app-@app.Email">
                        <td id="app-FName" name="@app.Email" onclick="LoadProfile('DashboardProfile', '@app.Email')">@app.FirstName</td>
                        <td id="app-LName" name="@app.Email" onclick="LoadProfile('DashboardProfile', '@app.Email')">@app.LastName</td>
                        <td id="app-title" name="@app.Email" onclick="LoadProfile('DashboardProfile', '@app.Email')">@app.DesiredPositions</td>
                        <td id="app-city" name="@app.Email" onclick="LoadProfile('DashboardProfile', '@app.Email')">@app.City</td>
                        <td id="app-state" name="@app.Email" onclick="LoadProfile('DashboardProfile', '@app.Email')">@app.State</td>
                        <td id="app-skills" name="@app.Email" hidden>@app.Skills</td>
                    </tr>
                }
            </tbody>
        </table>

  

        @*Right Applicant Bar*@
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4 col-md-3 sidebar">

                    @*Applicant Box*@
                            <div class="panel-body">
                                    <div class="applicantpic" align="center"> <img alt="User Pic" src="~/img/ProfilePics/Avatar4.png" class="img-circle img-responsive"> 
                                    </div>
                                    <applicantname id="profile-name"> <br /> </applicantname>
                                    <div class="applicantinfo">
                                        <br>
                                        <table class="table table-user-information">
                                            <tbody>
                                                <tr>
                                                    <td>Title:</td>
                                                    <td id="profile-title"> </td>
                                                </tr>
                                                <tr>
                                                    <td>Address:</td>
                                                    <td id="profile-address"></td>
                                                </tr>
                                                <tr>
                                                    <td>Email</td>
                                                    <td><a id="profile-email" href="mailto:ericthibeau@gmail.com"></a></td>
                                                </tr>
                                                <tr>
                                                    <td>Phone Number</td>
                                                    <td id="profile-phone"><br>
                                                </tr>
                                                <tr>
                                                    <td>Skills</td>
                                                    <td id="profile-skills"></td>
                                                </tr>
                                        </table>
                                        <div class="row personalities">
                                            <div class="col-xs-6 col-sm-3">
                                                <img src="~/img/powerful1.png" class="img-responsive" title="Decisive & dominant">
                                                <personality>Power</personality>
                                                <span class="Power" id="profile-power">0</span>
                                            </div>
                                            <div class="col-xs-6 col-sm-3">
                                                <img src="~/img/blue2.png" class="img-responsive" title="Motivates & friendly">
                                                <personality>Inspirational</personality>
                                                <span class="Inspirational" id="profile-inspirational">0</span>
                                            </div>
                                            <div class="col-xs-6 col-sm-3">
                                                <img src="~/img/green.png" class="img-responsive" title="Reliable & dependable">
                                                <personality>Balance</personality>
                                                <span class="Balance" font size="6" id="profile-balance">0</span>
                                            </div>
                                            <div class="col-xs-6 col-sm-3">
                                                <img src="~/img/yellow2.png" class="img-responsive" title="Detailed & curious">
                                                <personality>Analytical</personality>
                                                <span class="Analytical" id="profile-analytical">0</span>
                                                <p></p><p></p><p></p>
                                            </div>
                                            <div class="thumbnail">
                                                <a onclick="DownloadApplicantResume($('#profile-email').attr('name'))" download>
                                                    <img src="~/img/dlbutton.png" />
                                                </a>
                                                <div class="caption post-content">
                                                    <h3 style="color:white; font-size:medium">Download Resume</h3>
                                                </div>
                                            </div>

                                        </div>
                                       <p></p>
                                    </div>
                        </div>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $("#myTable").tablesorter();
                }
                );
            </script>

        </div>
        <div class="footer">
                <p class="copyright text-muted small" style="color:white">Copyright &copy; JobSeekers 2016. All Rights Reserved</p>
        </div>
    </div>
    
 

</body>
</html>


