<div id="form_container">
        <div class="form_description">
            <h2 class="fs-title">TAKE A SHORT SURVEY</h2>
            <h3 class="fs-subtitle">Step 3</h3>
        </div>
        <ul>

            <li id="li_1">
                <label class="description">@Model.Q1.Item1</label>
                <span>
                    @for (int i = 0; i < Model.Q1.Item2.Count; i++)
                    {
                        <input type="radio" name="Q1" value="@Model.Q1.Item2[i].Item1" /> @Model.Q1.Item2[i].Item2<br />
                    }
                </span>
            </li>
            <li id="li_2">
                <label class="description">@Model.Q2.Item1</label>
                <span>
                    @for (int i = 0; i < Model.Q2.Item2.Count; i++)
                    {
                        <input type="radio" name="Q2" value="@Model.Q2.Item2[i].Item1" /> @Model.Q2.Item2[i].Item2<br />
                    }
                </span>
            </li>
            <li id="li_3">
                <label class="description">@Model.Q3.Item1</label>
                <span>
                    @for (int i = 0; i < Model.Q3.Item2.Count; i++)
                    {
                        <input type="radio" name="Q3" value="@Model.Q3.Item2[i].Item1" /> @Model.Q3.Item2[i].Item2<br />
                    }
                </span>
            </li>
            <li id="li_4">
                <label class="description">@Model.Q4.Item1</label>
                <span>
                    @for (int i = 0; i < Model.Q4.Item2.Count; i++)
                    {
                        <input type="radio" name="Q4" value="@Model.Q4.Item2[i].Item1" /> @Model.Q4.Item2[i].Item2<br />
                    }
                </span>
            </li>
            <li id="li_5">
                <label class="description">@Model.Q5.Item1</label>
                <span>
                    @for (int i = 0; i < Model.Q5.Item2.Count; i++)
                    {
                        <input type="radio" name="Q5" value="@Model.Q5.Item2[i].Item1" /> @Model.Q5.Item2[i].Item2<br />
                    }
                </span>
            </li>
            <li class="buttons">
                <input type="hidden" name="form_id" value="1109963" />
                <input id="saveForm" class="button_text" type="submit" name="submit" value="Next" onclick="SubmitQuizSection()" />
            </li>
        </ul>
    <p id="next_page" hidden>4</p>
</div>